<h2>Projects</h2>
<div class="row margin-top-10 margin-bottom-10">
    <a class="btn btn-info" [routerLink]="['/projects', '0']">Add New Project</a>
</div>
<div class="table-responsive">
    <table class="table table-stripped">
        <thead>
            <th>Project name</th>
            <th>Is deactivated</th>
        </thead>
        <tbody>
            <tr *ngFor="let project of projects | async">
                <td>{{project.name}}</td>
                <td>{{project.isDeactivated}}</td>
            </tr>
            <tr *ngIf="(projects | async)?.length === 0">
                <td>&nbsp;</td>
                <td colspan="2">No Records Found</td>
            </tr>
        </tbody>
    </table>
</div>