<h1 mat-dialog-title>Generate Release Notes</h1>
<div mat-dialog-content>
    <mat-form-field class="input-full-width">
        <input matInput 
        [attr.disabled]="releaseNotesAreGenerating ? 'disabled' : null" 
        [(ngModel)]="branchName" 
        placeholder="What's the repository branch name?">
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button class="mat-button" [attr.disabled]="releaseNotesAreGenerating ? 'disabled' : null" (click)="generate()">Generate</button>
    <button mat-button class="mat-button" [attr.disabled]="releaseNotesAreGenerating ? 'disabled' : null" (click)="close()">Close</button>
</div>