<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" [routerLink]="['/home']">Release notes generator</a>   
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li [routerLinkActive]="['nav-item', 'active']">
                <a class="nav-link" [routerLink]="['/projects']">
                    <span class='glyphicon glyphicon-education'></span> Projects
                </a>
            </li>
            <li [routerLinkActive]="['nav-item', 'active']">
                <a class="nav-link" [routerLink]="['/repositories']">
                    <span class='glyphicon glyphicon-education'></span> Repositories
                </a>
            </li>
        </ul>
    </div>
</nav>